  

html{
width: 100%;
            height: 100%;
}

  body{

      max-width:1050px;
      line-height:1.6;
      font-size:18px;
      margin:100px auto;
      font-family: 'Muli';
      font-weight: 700;
      color: #ffffff;
      padding:0 10px;
      background: linear-gradient(231deg, #8E2DE2, #4A00E0);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 29s ease infinite;
      -moz-animation: AnimationName 29s ease infinite;
      -o-animation: AnimationName 29s ease infinite;
      animation: AnimationName 29s ease infinite;


      }



    h1,h2,h3{
      line-height:1.4;
      font-size: 2em;
      font-family: 'Muli';
      font-weight: 700;
}

   header {
    height:100px;
    background:#F0F0F0;
    width:100%;
    margin:0px 0px 0px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
    

    .container {
      padding: 40px 20px 20px 30px;
      /* commented out to see what it looks like
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.2s ease-in-out;
      z-index: 1;
      */
}



#pseudofooter {
  font-size: 0.5em;
  float: right;
  color: #fafafa;
}

#justified-text {
padding: 3px 0 0 20px;
font-size: 1.4em;
}

/* 

Colors for specific links 

Yes, avoiding code repetition is best practice but im too tired to think about this atm

*/



#linky {
  color: #EF9A9A;
  text-decoration: none;

}

#linky:hover {
    color: #BBDEFB;
}


}

#aut {
  color: #BBDEFB;
  text-decoration: none;
}


a:hover {
  background-color:#311B92;

}

#behance {
  color: #EDE7F6;
  text-decoration: none;
}

#github { 
  color: #9FA8DA;
  text-decoration: none;
}

#twitter {
  color: #90CAF9;
  text-decoration: none;
}

#tumblr {
  color: #81D4FA;
  text-decoration: none;
}

#linkedin {
  color: #80DEEA;
  text-decoration: none;
}

#pgp {
  color: #80CBC4;
  text-decoration: none;
}

#wcag {
  color: #E1F5FE;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
    body {
        margin: 1px auto;
        font-size:10px;
        line-height:1.8;
    }
}

